@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/mediaqueries";
@import "./abstracts/fonts";
@import "./abstracts/typography";
@import "./abstracts/reset";

@import "./components/post";
@import "./components/intro";
@import "./components/txt_vid";
@import "./components/images";
@import "./components/footer";
@import "./components/box";















html {
    font-size: 10px;
}


body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: $colorBg;
    // padding-top: 16rem;
}

h1 {
    @include fontH1;
    margin-top: 2rem;
}

h2 {
    @include fontQuicksand;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
  }

p {
    margin-top: 2rem;
}

.logo {
        margin: 0 auto;
        position: fixed;
        top: 4rem;
        left: 50%;
        transition: top 0.3s;
        transform: translate(-50%);
        z-index: 10;

        &__svg {
            transform-origin: top;
            transition: width 0.3s;
        }
}

.post__background  {
    pointer-events: none;
}