// @font-face {
// 	font-family: 'joane-light';
// 	src: local('Acherusgrotesque Medium Webfont'), url('/wp-content/themes/theirvoices/assets/fonts/joane_light.woff2') format('woff2');
// }

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');



