// Vertical spacing
@mixin responsiveVerticalSpacing(
  $color: false,
  $cssAttribute: "margin-top",
  $multiply: 1
) {
  @if (map-has-key($verticalSpaces, $color)) {
    @if (is-map(map-get($verticalSpaces, $color))) {
      #{$cssAttribute}: pxToRem(
          map-get(map-get($verticalSpaces, $color), mobile)
        ) *
        $multiply;

      @include mq($from: tablet) {
        #{$cssAttribute}: pxToRem(
            map-get(map-get($verticalSpaces, $color), tablet)
          ) * $multiply;
      }

      @include mq($from: desktop) {
        #{$cssAttribute}: pxToRem(
            map-get(map-get($verticalSpaces, $color), desktop)
          ) * $multiply;
      }

      @include mq($from: wide) {
        #{$cssAttribute}: pxToRem(
            map-get(map-get($verticalSpaces, $color), wide)
          ) * $multiply;
      }
    } @else {
      #{$cssAttribute}: pxToRem(map-get($verticalSpaces, $color)) * $multiply;
    }
  }
}

// Font family

@mixin fontH1 {
  @include fontSulphur;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 4rem;
  }

  @include mq($from: desktop) {
    font-size: 7rem;
  }
}

// @mixin fontH2 {
//   @include fontRubik;
//   font-size: 1.6rem;
//   font-style: normal;
//   font-weight: 600;
// }


@mixin fontTitle {
  @include fontQuicksand;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
}

@mixin fontNavi {
  @include fontQuicksand;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

@mixin fontCopy {
  // @include fontQuicksand;
  @include fontSulphur;

  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
}

@mixin fontLogo{
  @include fontChewy;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.4px;
}

// @mixin fontCopy {
//   @include fontRubik;
//   font-size: 1.4rem;
//   font-style: normal;
//   font-weight: 400;
// }

// @mixin fontCopysmall {
//   @include fontRubik;
//   font-size: 1.2rem;
//   font-style: normal;
//   color: rgba(0, 0, 0, 0.75);
//   font-weight: 400;
//   line-height: 1.4;
// }


// @mixin fontList {
//   @include fontRubik;
//   font-size: 2rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1.5;
// }

// @mixin fontIteration {
//   @include fontRubik;
//   font-size: 1.1rem;
//   font-style: normal;
//   font-weight: 400;
//   color: rgba(0, 0, 0, 0.35);
// }




// @mixin fontCopy {
//   @include fontManrope;
//   font-size: 1rem;
//   line-height: 1.75;
//   font-weight: normal;
//   font-style: normal;
  
//   @include mq($from: desktop) {
//     font-size: 16px
//   }
// }

@mixin joinBtn {
  @include fontNavi;
  padding: 1rem 3rem;
  border: 1px solid black;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  overflow: hidden;
  transition: border-color 0.22s, color 0.3s;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(190, 54, 106, 0.863);
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%) rotate(10deg) skew(30deg);
    border-radius: 30px;
    transition: transform 0.22s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    border-color: transparent;
    color: $colorBg;

    &::before {
      transform: translateX(0) rotate(0);
    }
  }

}