@mixin fontDMSerif {
	font-family: 'DM Serif Display', sans-serif;
}

@mixin fontRubik {
  font-family: 'Rubik', sans-serif;
}


@mixin fontSpaceMono{
  font-family: 'Space Mono', monospace;
}

@mixin fontQuicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin fontChewy {
  font-family: 'Chewy', sans-serif;
}

@mixin fontSulphur {
  font-family: 'Sulphur Point', sans-serif;
}


