// Colors

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorWhite: #ffffff;
$colorBg: #FFFFFE;
$pink: #9B1750;
$darkPink: #4b0f34;




//Font size basic

$sizeFontBase: 12;

//Size breakpoints
$sizeBreakpointMobile: 0px;
$sizeBreakpointTablet: 620px;
$sizeBreakpointDesktop: 980px;
$sizeBreakpointWide: 1401px;