.box {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 12;
    display: none;

    &__prev, &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        z-index: 4;
        font-size: 3rem;
        color: $colorWhite;
        cursor: pointer;
    }

    &__prev{
        display: none;
        left: -2vw;
        transform: translateY(-50%) rotate(-180deg);


        @include mq($from: tablet) {
            display: block;
        }

        @include mq($from: desktop) {
            left: 0;
        }
    }

    &__next {
        display: none;
        right: -2vw;

        @include mq($from: tablet) {
            display: block;
        }

        @include mq($from: desktop) {
            right: 0vw;
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 3rem;
        right: 1rem;
        font-size: 2rem;
        color: $colorWhite;
        cursor: pointer;

        @include mq($from: tablet) {
            top: 1.2rem;
            right: 1.2rem;
        }
    }

    &__mover {
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        pointer-events: none;
    }

    &__inside {
        min-width: 100%;
        max-width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20%;
        max-height: 80%;
    }

    img {
        max-width: 80vw;
        // min-height: 80vh;
        width: unset;

        @include mq($from: tablet) {
            max-height: 80vh;
        }
    }
}