footer {
    background-color: black;
    min-height: 12rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    h2 {
        font-size: 1.8rem;
    }

    h2:nth-of-type(2) {
        margin-top: .6rem;
    }

    div {
        display: flex;
        align-items: center;

        & span {
            display: block;
            width: 8rem;
            height: 1px;
            background-color: white;
            margin: 0 1rem;
        }
    }

    a {
        position: fixed;
        bottom: 10rem;
        right: -4rem;
        transform: rotate(-90deg);

        
        @include mq($to: tablet) {
            right: -5.2rem;
            bottom: 8rem;
        }

        h4 {
            @include fontNavi;
            color: white;
            font-size: 1.2rem;
            text-decoration: underline;
        }
    }
}