.images {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 7%;

    @include mq($to: tablet) {
        width: 86%!important;
    }

    img {
        cursor: pointer;
    }
    // img:first-of-type {
    //     margin-left: 0;
    // }
}