.intro {
 color: white;
 font-size: 20px;
 padding: 0 4%;
 padding-bottom: 16rem;

 @include mq($to: tablet) {
    padding: 0 8%;
}

    &__caption {
        padding-top: 20rem;
    }

    &__heading {
        @include fontH1;
        margin-top: 2rem;

        &--second {
            margin-left: 30vw;
        }
    }

    &__line {
        display: block;
        width: 10rem;
        height: 2px;
        background-color: #fff;
        margin-top: 2rem;

        &--second {
            margin-left: 30vw;
            margin-top: 16rem;
        }
    }

    &__description {
        margin-top: 16rem;
        display: flex;
        @include fontCopy;

        &__socials {
            padding-top: 2rem;
            width: 20%;
            height: 100%;
            filter: invert(1);
            
            img {
                width: 3rem;
            }
        }

        &__text {
            width: 40%;
            min-width: 70%;


            @include mq($from: tablet) {
                min-width: none;
            }
        }
    }

}