.post {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 0;

    @include mq($to: desktop) {
            min-height: 50vh;
    }

    &__background {
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        // z-index: -1;


        video {
            min-width: 100vw;
            min-height: 100vh;
            // z-index: -1;
        }
    }

    &__editor {
        color: white;
        font-size: 20px;
        padding: 0 7%;
        @include fontCopy;
        // padding-top: 16rem;
        // position: absolute;
        div:nth-of-type(2) {
            margin-top: 2rem
        }

        @include mq($to: tablet) {
            width: 86%!important;
        }
    }
}

.video {
    opacity: 0;
}