.txt_vid {
    display: flex;
    width: 86%;
    margin: 0 auto;
    justify-content: space-between;


    @include mq($to: tablet) {
        flex-direction: column!important;
    }

    &__text {
        color: white;
        @include fontCopy;
        margin-top: 8rem;

        @include mq($to: tablet) {
            width: 100%!important;
        }
    }

    &__video {
        margin-top: 4rem;
        
        video {
            width: 100%;
        }

        @include mq($to: tablet) {
            width: 100%!important;
        }
    }
}