<div class="images" style="width: {{ elem.width }}vw">
{% for img in elem.images %}
    <img class="img" style="width: {{ (100 / elem.images|length) - 3 }}%" src="{{ img.sizes.large }}" alt="image" />
{% endfor %}

<script>

(function() {
    const module = document.querySelector('.images')
})();

</script>

</div>