<div class="intro">
    <h4 class="intro__caption">{{ elem.caption }}</h4>
    <h1 class="intro__heading">{{ elem.first_heading }}</h1>
    <span class="intro__line"></span>

    <span class="intro__line intro__line--second"></span>
    <h1 class="intro__heading intro__heading--second">{{ elem.second_heading }}</h1>

    <div class="intro__description">
        <div class="intro__description__socials">
        {% for social in elem.social_media %}
           <a href="{{ social.link }}"> <img src="{{ social.icon.sizes.thumbnail }}" alt="social media image" /></a>
        {% endfor %}
        </div>
        <div class="intro__description__text">{{ elem.text }}</div>

    </div>


</div>