<section class="post" style=" 
background-color: {{ module.is_vid_as_bg == false ? module.background : 'transparent'}};
">
<div class="post__background {{ module.is_vid_as_bg ? 'video' : 'transparent'}} " style="
    position: {{ module.is_vid_as_bg == false ? 'absolute' : 'fixed'}};
    top: 0;
    left: 0;
    z-index: {{ module.is_vid_as_bg == false ? '0' : '-1'}};
    "
>
    {# {% if module.is_vid_as_bg %} #}
        <video autoplay muted>
            <source src="{{ module.video.url }}" type="video/mp4">
        </video>
    {# {% endif %} #}
</div>

{# {{ module.video }} #}
<div class="post__editor" style="width: {{ module.max_width }}%;">{{ module.editor }}</div>
{# {{ module.background }} #}
{# {{ module.padding }} #}
{# {{ module.elems }} #}
<div class="post__elems">
	{% for elem in module.elems %}
	    {% include './components/' ~ elem.type ~ '.twig' with {elem: elem} %}
	{% endfor %}
</div>

<script>


</script>

</section>