{# TXT VID #}
<div class="txt_vid" style="flex-direction: {{ elem.is_order_reverse == true ? 'row-reverse' : 'row' }}">
    <div class="txt_vid__text" style="width: {{ elem.text.width - 3  }}%">{{ elem.text.content }}</div>
    <div class="txt_vid__video" style="width: {{ elem.video.width - 3 }}%">   
        <video autoplay muted controls>
            <source src="{{ elem.video.file.url }}" type="video/mp4">
        </video>
    </div>

</div>