<html>
    <head>
        {{ fn('wp_head') }}
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">

        {# <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css"> #}
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
        <title>{{site.name}}</title>

        
        
    </head>
    <body>
{# 
        {# {% include './components/navbar.twig'  %} #}
        {% include './components/logo.twig'  %} #}

        
        {% block content %}{% endblock %}
        {% include './components/footer.twig'  %}





        {{ fn('wp_footer') }}

    
        <noscript>Your browser does not support JavaScript!</noscript>

    </body>
</html>
