{% extends "base.twig" %}

{% block content %}
	{% for module in modules %}
		{% include './components/' ~ module.type ~ '.twig' with {module: module} %}
	{% endfor %}

				<div class="box">
					<span class="box__close">&#x2715;</span>
					<span class="box__next">&#x276F;</span>
					<span class="box__prev">&#x276F;</span>

					<div class="box__mover">
						{% for image in images %}
							<div class="box__inside">
								<img class="project__main__img" 
									src="{{ image }}" 
									alt="project image"  />
							</div>
						{% endfor %}
						</div>
					</div>
				</div>

{% endblock %}